@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
@model ProyectoUSMP_GYM.Models.ModelDB.Producto
@{
    List<ProyectoUSMP_GYM.Models.ModelDB.Producto> productos = new List<ProyectoUSMP_GYM.Models.ModelDB.Producto>();
    productos = ViewBag.Productos;
}
<section class="row">
    <div class="col-md-12">
        <div class="section-title">
            <h2>Catalogo</h2>
            <h3>Productos <span>MTGQ</span></h3>
            <p>Encuentra los mejores suplementos, vitaminas y mucho más con los mejores.</p>
            <p>"MutantGym te quiere Feliz!"</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            @foreach (var prod in productos)
            {
                <div class="col mb-4">
                    <div class="card md-3">
                        <img src="@prod.Imagen" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto: @prod.Nombre</h5>
                            <h6>Precio: S/ @prod.Precioventa</h6>
                            <h6 class="card-text">Stock:  @prod.Cantidad </h6>
                            <p class="card-text">@prod.Descripcion</p>
                        </div>
                        <div class="card-header">
                            <button class="btn btn-danger">Comprar</button>
                        </div>
                    </div>
                    </div>
                    }
                </div>
            </div>
</section>